main {
  min-height: 82vh;
}
.component-quantity {
  display: flex;
  height: 2.5rem;
}
.quantity-input__modifier,
.quantity-input__screen {
  user-select: none;
  outline: none;
}
.items-center {
  align-items: center;
}
.quantity-input__modifier {
  width: 2rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);
  cursor: pointer;
}

.quantity-input__modifier--left {
  border-radius: 3px 0 0 3px;
}

.quantity-input__modifier--right {
  border-radius: 0 3px 3px 0;
}
.quantity-input__modifier:hover {
  background: #adadad;
  color: rgb(255, 255, 255);
}
.quantity-input__screen {
  width: 2rem;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}
.fieldset-origin {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
